boto3==1.9.222
botocore==1.12.222
camelot-py==0.7.3
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.15.2
dominate==2.4.0
et-xmlfile==1.0.1
google-images-download==2.8.0
jdcal==1.4.1
jmespath==0.9.4
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.1
openpyxl==2.6.3
pandas==0.25.1
pdfminer.six==20181108
Pillow==6.1.0
pycryptodome==3.9.0
pyparsing==2.4.2
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.2
s3transfer==0.2.1
selenium==3.141.0
six==1.12.0
sortedcontainers==2.1.0
urllib3==1.25.3
